<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Gyms House</title>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

    <!-- ============= Lesnar style ============= -->
    <!-- Bootstrap -->
    <link href="~/lesnarStyle/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template  CSS Area -->
    <link rel="stylesheet" href="~/lesnarStyle/assets/css/style.css">
    <link rel="stylesheet" href="~/lesnarStyle/assets/css/color.css">
    <link rel="stylesheet" href="~/lesnarStyle/assets/css/css-menu/css-menu.css">
    <link rel="stylesheet" href="~/lesnarStyle/assets/css/custom-responsive.css">
    <link rel="stylesheet" href="~/lesnarStyle/assets/css/responsive.css">
    <link rel="stylesheet" href="~/lesnarStyle/assets/css/hover.css">
    
    <!-- Fraction Slider CSS Area -->
    <link rel="stylesheet" href="~/lesnarStyle/assets/css/fraction-slide/slider-style.css" type="text/css" />
    <link rel="stylesheet" href="~/lesnarStyle/assets/css/fraction-slide/fractionslider.css" type="text/css" />
    
    <!-- Owl Carosel CSS Area -->
    <link rel="stylesheet" href="~/lesnarStyle/assets/css/owl-carousel/owl.carousel.css" type="text/css" />
    <link rel="stylesheet" href="~/lesnarStyle/assets/css/owl-carousel/owl.theme.css" type="text/css" />

    <!-- FontAwesome CSS Area -->
    <link href="~/lesnarStyle/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- ============= Stamina ============= -->
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/staminaStyle/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/staminaStyle/css/icomoon.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/staminaStyle/css/magnific-popup.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/staminaStyle/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/staminaStyle/css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/staminaStyle/css/style.css">


    @RenderSection("Styles", false)
</head>
<body>
    
    <div id="preloader"></div>

    @RenderBody()



    <!-- ============= Lesnar style ============= -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/lesnarStyle/assets/js/jquery.js"></script>
    <script src="~/lesnarStyle/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Scroling Header JS Area-->
    <script src="~/lesnarStyle/assets/js/classie.js"></script>
    <script src="~/lesnarStyle/assets/js/cbpAnimatedHeader.js"></script>
    <script src="~/lesnarStyle/assets/js/jquery.stellar.js"></script>

    <script src="~/lesnarStyle/assets/revolution/js/jquery.themepunch.tools.min.js"></script>

    <!-- Revolution Slider Tools -->
    <script src="~/lesnarStyle/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Revolution Slider -->
    <script type="text/javascript" src="~/lesnarStyle/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/lesnarStyle/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/lesnarStyle/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/lesnarStyle/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/lesnarStyle/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/lesnarStyle/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/lesnarStyle/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/lesnarStyle/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/lesnarStyle/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <!-- Owl Carosel JS Area -->
    <script src="~/lesnarStyle/assets/js/owl.carousel.js"></script>
    <!-- CSS Menu JS Area -->
    <script src="~/lesnarStyle/assets/js/css-menu.js"></script>
    <!-- Shuffle Plugin JS Area -->
    <script src="~/lesnarStyle/assets/js/jquery.shuffle.min.js"></script>
    <!-- Comming Soon Countdown JS Area -->
    <script src="~/lesnarStyle/assets/js/jquery.countdown.min.js"></script>
    <!-- Counter Section JS Area -->
    <script src="~/lesnarStyle/assets/js/jquery.counterup.min.js"></script>
    <script src="~/lesnarStyle/assets/js/counter.js"></script>
    <script src="~/lesnarStyle/assets/js/waypoints.min.js"></script>

    <!-- mix it js -->
    <script src="~/lesnarStyle/assets/js/jquery.mixitup.min.js"></script>
    <!-- Lesnar Custom JS Area -->
    <script src="~/lesnarStyle/assets/js/custom.js"></script>


    <!-- ============= Stamina ============= -->
    <!-- Waypoints -->
    <script src="~/staminaStyle/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/staminaStyle/js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="~/staminaStyle/js/main.js"></script>
    <!-- jQuery Easing -->
    <script src="~/staminaStyle/js/jquery.easing.1.3.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
