
<div class="home-header-warpper home-page">
    <div class="section-header navbar-fixed-top">
        <div class="header-serarch-area">
            <div class="container">
                <div class="pull-right search  col-lg-3 col-md-4 col-sm-5 col-xs-12">
                    <form method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
        <div class="header-cart-area">
            <div class="container">
                <div class="pull-right cart col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <p><i class="fa fa-shopping-cart"></i> You Have <span>3 Item</span> in your Cart. Price is <span>$199</span></p>
                </div>
            </div>
        </div>

        <div class="header">
            <div class="container">
                <div class="row">
                    <!-- Logo Area -->
                    <div class="logo-responsive col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="mml-logo">
                            <a asp-action="Index" asp-controller="Home"><img src="~/Photos/AspNetMVC_Logo.jpg" alt="mml-Logo"></a>
                        </div>
                    </div>

                    <!-- Navigation Area -->

                    <div class="menu-responsive col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <div class="mml-menu">
                            <nav id="cssmenu">
                                <ul>
                                    <li class="active"><a asp-action="Index" asp-controller="Home">Home</a></li>
                                    <li class="has-sub">
                                        <a href="classes.html">Classes</a>
                                        <ul>
                                            <li><a href="classes-details.html">Classes Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href='#'>Pages</a>
                                        <ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="service.html">Service</a></li>
                                            <li><a href="career.html">Career</a></li>
                                            <li><a href="prices-page.html">Prices Page</a></li>
                                            <li><a href="testimonials.html">Testimonials</a></li>
                                            <li><a href="404-eror.html">404 Page</a></li>
                                            <li><a href="comming-soon.html">Comming Soon</a></li>
                                            <li><a href="faq.html">FAQ Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href='#'>Gallery</a>
                                        <ul>
                                            <li><a href="gallery-v1.html">Gallery V1</a></li>
                                            <li><a href="gallery-v2.html">Gallery V2</a></li>
                                            <li><a href="gallery-v3.html">Gallery V3</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blogs-rightbar-v1.html">Blog Rightbar V1</a></li>
                                            <li><a href="blogs-leftbar-v2.html">Blog Lefttbar V2</a></li>
                                            <li><a href="blogs-v3.html">Blog V3</a></li>
                                            <li><a href="blogs-v4.html">Blog V4</a></li>
                                            <li><a href="blogs-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <a href="shop.html">Shop</a>
                                        <ul>
                                            <li><a href="shop.html">Shop Page</a></li>
                                            <li><a href="product-details.html">Product Details Page</a></li>
                                            <li class="has-sub">
                                                <a href="#">Inner Page</a>
                                                <ul>
                                                    <li><a href="account-page.html">Account Page</a></li>
                                                    <li><a href="cart.html">Cart Page</a></li>
                                                    <li><a href="checkout.html">Checkout Page</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Search & Cart Area -->

                    <div class="mml-serach-cart-pd-off col-lg-1 col-md-1 col-sm-1 col-xs-12">
                        <div class="mml-serach-cart">
                            <div class="mml-icon-wrap">
                                <a id="mml-search-icon" href="#" title="Click This Button" class="icon img-circle">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="mml-icon-wrap">
                                <a id="mml-cart-icon" href="#" title="Click This Button" class="icon img-circle">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***************************************************************************************************************** -->
    <!-- *********************************************** Home Slider Area ************************************************ -->
    <!-- ***************************************************************************************************************** -->


    <section class="rev_slider_wrapper gardener-banner">
        <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>
                <li data-transition="parallaxvertical">
                    <img src="~/Photos/lesnarStyle/Slider_Main/slide_1.jpg" alt="" width="1024" height="669" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                    <div class="tp-caption sfl tp-resizeme slider-top-title" data-x="left" data-hoffset="0" data-y="top" data-voffset="278" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="500">
                        Enroll With The Best
                    </div>
                    <div class="tp-caption sfr tp-resizeme slider-bottom-title" data-x="left" data-hoffset="0" data-y="top" data-voffset="324" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1000">
                        Lesnar Template
                    </div>
                    <div class="tp-caption sfr tp-resizeme slider-title-border" data-x="left" data-hoffset="0" data-y="top" data-voffset="400" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1300">
                    </div>
                    <div class="tp-caption sfb tp-resizeme slider-content" data-x="left" data-hoffset="0" data-y="top" data-voffset="425" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1800">
                        Lesnar is a responsive complete Gym/Fitness Template
                        <br>With Stunning looks and animation through out Website
                        <br>Have a look at Exclusive Features.
                    </div>
                    <div class="tp-caption sfb tp-resizeme" data-x="left" data-hoffset="0" data-y="top" data-voffset="545" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="2000">
                        <a href="#" class="mml-slide-btn">
                            Explore More
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <div class="tp-caption sfb tp-resizeme" data-x="left" data-hoffset="237" data-y="top" data-voffset="545" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="2000">
                        <a href="#" class="mml-slide-btn transparent-bg">
                            Join Today
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>

                </li>
                <li data-transition="parallaxvertical">
                    <img src="~/Photos/lesnarStyle/Slider_Main/slide_2.jpg" alt="" width="1920" height="705" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2">
                    <div class="tp-caption sfl tp-resizeme slider-top-title" data-x="left" data-hoffset="0" data-y="top" data-voffset="278" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="500">
                        Rediscover your Body
                    </div>
                    <div class="tp-caption sfr tp-resizeme slider-bottom-title" data-x="left" data-hoffset="0" data-y="top" data-voffset="324" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1000">
                        With our trainer
                    </div>
                    <div class="tp-caption sfr tp-resizeme slider-title-border" data-x="left" data-hoffset="0" data-y="top" data-voffset="400" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1300">
                    </div>
                    <div class="tp-caption sfb tp-resizeme slider-content" data-x="left" data-hoffset="0" data-y="top" data-voffset="425" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1800">
                        Lesnar is a responsive complete Gym/Fitness Template
                        <br>With Stunning looks and animation through out Website
                        <br>Have a look at Exclusive Features.
                    </div>
                    <div class="tp-caption sfb tp-resizeme" data-x="left" data-hoffset="0" data-y="top" data-voffset="545" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="2000">
                        <a href="#" class="mml-slide-btn">
                            Explore More
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <div class="tp-caption sfb tp-resizeme" data-x="left" data-hoffset="237" data-y="top" data-voffset="545" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="2000">
                        <a href="#" class="mml-slide-btn transparent-bg">
                            Join Today
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>

                </li>
                <li data-transition="parallaxvertical">
                    <img src="~/Photos/lesnarStyle/Slider_Main/slide_3.jpg" alt="" width="1920" height="705" data-bgposition="center right" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3">

                    <div class="tp-caption sfl tp-resizeme slider-top-title" data-x="right" data-hoffset="35" data-y="top" data-voffset="278" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="500">
                        Yoga to Muscle Building
                    </div>
                    <div class="tp-caption sfr tp-resizeme slider-bottom-title" data-x="right" data-hoffset="173" data-y="top" data-voffset="324" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1000">
                        We have Trainer
                    </div>
                    <div class="tp-caption sfr tp-resizeme slider-title-border" data-x="right" data-hoffset="458" data-y="top" data-voffset="400" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1300">
                    </div>
                    <div class="tp-caption sfb tp-resizeme slider-content" data-x="right" data-hoffset="458" data-y="top" data-voffset="425" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="1800">
                        Lesnar is a responsive complete Gym/Fitness Template
                        <br>With Stunning looks and animation through out Website
                        <br>Have a look at Exclusive Features.
                    </div>
                    <div class="tp-caption sfb tp-resizeme" data-x="right" data-hoffset="143" data-y="top" data-voffset="545" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="2000">
                        <a href="#" class="mml-slide-btn transparent-bg">
                            Join Today
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <div class="tp-caption sfb tp-resizeme" data-x="right" data-hoffset="380" data-y="top" data-voffset="545" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:0" data-transform_out="o:0" data-start="2000">
                        <a href="#" class="mml-slide-btn">
                            Explore More
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>


                </li>
            </ul>
        </div>
    </section>
    <div class="mml-header-bottom-fitness-level-title">
        <p>Become a legend yourself</p>
    </div>
</div>
