
<div class="wrapper">
    <div class="home-header-warpper other-home-header-wraper-admin stellar" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="">
        <div class="section-header navbar-fixed-top">
           
            <div class="header">
                <div class="container">
                    <div class="row">
                        <!-- Logo Area -->
                        <div class="logo-responsive col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="mml-logo">
                                <a href="index.html"><img src="~/Photos/AspNetMVC_Logo.jpg" alt="mml-Logo"></a>
                            </div>
                        </div>

                        <!-- Navigation Area -->
                        <div class="menu-responsive col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <div class="mml-menu">
                                <nav id="cssmenu">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li class="has-sub active">
                                            <a href="classes.html">Classes</a>
                                            <ul>
                                                <li><a href="classes-details.html">Classes Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub">
                                            <a href='#'>Pages</a>
                                            <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="service.html">Service</a></li>
                                                <li><a href="career.html">Career</a></li>
                                                <li><a href="prices-page.html">Prices Page</a></li>
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                                <li><a href="404-eror.html">404 Page</a></li>
                                                <li><a href="comming-soon.html">Comming Soon</a></li>
                                                <li><a href="faq.html">FAQ Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub">
                                            <a href='#'>Gallery</a>
                                            <ul>
                                                <li><a href="gallery-v1.html">Gallery V1</a></li>
                                                <li><a href="gallery-v2.html">Gallery V2</a></li>
                                                <li><a href="gallery-v3.html">Gallery V3</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub">
                                            <a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blogs-rightbar-v1.html">Blog Rightbar V1</a></li>
                                                <li><a href="blogs-leftbar-v2.html">Blog Lefttbar V2</a></li>
                                                <li><a href="blogs-v3.html">Blog V3</a></li>
                                                <li><a href="blogs-v4.html">Blog V4</a></li>
                                                <li><a href="blogs-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub">
                                            <a href="shop.html">Shop</a>
                                            <ul>
                                                <li><a href="shop.html">Shop Page</a></li>
                                                <li><a href="product-details.html">Product Details Page</a></li>
                                                <li class="has-sub">
                                                    <a href="#">Inner Page</a>
                                                    <ul>
                                                        <li><a href="account-page.html">Account Page</a></li>
                                                        <li><a href="cart.html">Cart Page</a></li>
                                                        <li><a href="checkout.html">Checkout Page</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

       
    </div>
</div>