
<div class="wrapper">
    <div class="home-header-warpper other-home-header-wraper-admin stellar" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="">
        <div class="section-header navbar-fixed-top">
           
            <div class="header">
                <div class="container">
                    <div class="row">
                        <!-- Logo Area -->
                        <div class="logo-responsive col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="mml-logo">
                                <a asp-action="Index" asp-controller="Admin">
                                    <img src="~/Photos/AspNetMVC_Logo.jpg" alt="mml-Logo">
                                </a>
                            </div>
                        </div>

                        <!-- Navigation Area -->
                        <div class="menu-responsive col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <div class="mml-menu">
                                <nav id="cssmenu">
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Admin">Home</a></li>
                                        <li class="has-sub active">
                                            <a href="#">Infrastructure</a>
                                            <ul>
                                                <li><a asp-action="Index" asp-controller="Center">Centers</a></li>
                                                <li><a asp-action="Index" asp-controller="Location">Locations</a></li>
                                                <li><a asp-action="Index" asp-controller="BusinessHours">Business Hours</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub">
                                            <a href="#">Training Setup</a>
                                            <ul>
                                                <li><a asp-action="Index" asp-controller="GymsClass">Classes</a></li>
                                                <li><a asp-action="Index" asp-controller="Major">Majors</a></li>
                                                <li><a asp-action="Index" asp-controller="Instructor">Instructors</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub">
                                            <a href="#">Users</a>
                                            <ul>
                                                <li><a asp-action="Index" asp-controller="Users">Users Management</a></li>
                                            </ul>
                                        </li>

                                        @await Html.PartialAsync("_LoginPartial")
                                    </ul>

                                    
                                </nav>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

       
    </div>
</div>